*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 270px;
    height: 100%;
    border-right: 1px solid #DBDBDB;
}

.nav_header{
    width: 100%;
    display: flex;
    align-content: center;
    padding: 2rem 1.5rem;
}

.nav_header img{
    width: 130px;
}

.nav_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
}

.nav_link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
    font-weight: 600;
    padding: 6px 5px;
    border-radius: 8px;
}

.nav_link img{
    width: 35px;
    height: 35px;

}

.nav_link:hover{
    background-color: #F7F7F7;
}