*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.message{
    width: 100%;
    padding: 2px 0 2px 5px;
    font-size: 14px;
    font-weight: 500;
    color: #737373;
}